div.image-with-article-layout > .article > .big-title {
    margin-bottom: 30px;
    font-size: 36px;
}

div.image-with-article-layout > .article > .big-title,
div.image-with-article-layout > .article > .small-title {
    text-align: center;
}

div.image-with-article-layout > .article > .small-title {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 20px;
}

div.image-with-article-layout > .article > .p-normal {
    font-weight: 500;
    margin-bottom: 10px;
}

div.image-with-article-layout > .article > .p-normal > span {
    background-color: rgb(232, 232, 235);
    padding: 6px;
}

div.image-with-article-layout > .article > .p-gray {
    color: gray;
}
